/*       */
/* Cores */
/*       */

:root {
    --cor-preta: black;
    --cor-branca: white;
    --cor-1: #29323c;
    --cor-2: #434343;
    --cor-3: black;
    --cor-4: white;
    --cor-5: #c9031a;
}

html[data-theme='BL'] {
    --cor-preta: black;
    --cor-branca: white;
    --cor-1: #29323c;
    --cor-2: #434343;
    --cor-3: white;
    --cor-4: #ffb300;
    --cor-5: black;
}

html[data-theme='WT'] {
    --cor-preta: black;
    --cor-branca: white;
    --cor-1: #29323c;
    --cor-2: #434343;
    --cor-3: black;
    --cor-4: #D80032;
    --cor-5: white;
}

/*       */
/* Style */
/*       */

* {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, var(--cor-preta) 0%, var(--cor-4) 90%);
}

/*       */
/* Div's */
/*       */

#Div_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
    height: 99%;
    /*border: 2px solid var(--cor-5);*/
}

#Div_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--cor-5);
}

#Div_3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 30%;
    /*border: 2px solid var(--cor-5);*/
}

#Div_4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 20%;
    border-top: 2px solid var(--cor-5);
    border-bottom: 2px solid var(--cor-5);
}

#Div_5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40%;
    /*border: 2px solid var(--cor-5);*/
}

#Div_6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 5%;
    /*border: 2px solid var(--cor-5);*/
}

#Div_7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    /*border: 2px solid var(--cor-5);*/
}

#Div_8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-left: 2px solid var(--cor-5);
}

#Div_9 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
    /*border: 2px solid var(--cor-5);*/
}

#Div_10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    /*border: 2px solid var(--cor-5);*/
}

#Div_11 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    /*border: 2px solid var(--cor-5);*/
}

#Div_12 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    /*border: 2px solid var(--cor-5);*/
}

#Div_13 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    /*border: 2px solid var(--cor-5);*/
}

#Div_14 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    /*border: 2px solid var(--cor-5);*/
}

#Div_15 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 100%;
    /*border: 2px solid var(--cor-5);*/
}

#Div_16 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 100%;
    /*border: 2px solid var(--cor-5);*/
}

#Div_17 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    /*border: 2px solid var(--cor-5);*/
}

#Div_18{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    width: 95%;
    color: var(--cor-5);
}

#Div_19{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 5%;
}

#lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    color: var(--cor-branca);
    direction: rtl;
}

#verificacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor-3);
    background-color: var(--cor-4);
    border: none;
    font-size: 20px;
    font-weight: 800;
    width: 40%;
    height: 40%;
}

/*        */
/* Textos */
/*        */

#Text_1 {
    display: flex;
    flex-direction: row;
    color: var(--cor-5);
    font-weight: bold;
    font-size: 50px;
}

#Text_2 {
    color: var(--cor-5);
    font-weight: bold;
    font-size: 30px;
}

#Text_3 {
    color: var(--cor-5);
    font-weight: bold;
    font-size: 30px;
}

#Text_4 {
    color: var(--cor-5);
    font-weight: bold;
    font-size: 30px;
}



/*       */
/* Peças */
/*       */

.tiles {
    background-size: contain;
    width: 84px;
    height: 112px;
    margin: 0.5%;
    background-image: url(riichi-mahjong-tiles-master/Regular/Front.svg);
}

.dora {
    background-size: contain;
    width: 84px;
    height: 112px;
    margin: 0.5%;
    background-image: url(riichi-mahjong-tiles-master/Regular/Back.svg);
}

#Kaze_1 {
    src: url(/riichi-mahjong-tiles-master/Black/Ton.svg);
}

#Richi_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 20%;
    border: 2px solid var(--cor-5);
    background-color: var(--cor-5);
    border-radius: 10%;
}

#Richi_2 {
    width: 2.5%;
    height: 50%;
    border: 2px solid var(--cor-5);
    border-radius: 100%;
    background-color: var(--cor-4);
}


/*           */
/* Animações */
/*           */

@keyframes textorgb {
    100% {
        /* Larger blur radius */
        text-shadow:
            0 0 4px var(--cor-branca),
            0 0 12px var(--cor-branca),
            0 0 20px var(--cor-branca),
            0 0 90px var(--cor-5),
            0 0 100px var(--cor-5);
    }

    50% {
        /* A slightly smaller blur radius */
        text-shadow:
            0 0 3px var(--cor-branca),
            0 0 11px var(--cor-branca),
            0 0 19px var(--cor-branca),
            0 0 89px var(--cor-4),
            0 0 100px var(--cor-4);
    }

    0% {
        /* A slightly smaller blur radius */
        text-shadow:
            0 0 2px var(--cor-branca),
            0 0 10px var(--cor-branca),
            0 0 18px var(--cor-branca),
            0 0 88px var(--cor-3),
            0 0 100px var(--cor-3);
    }
}





.yaku_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.yakus_label {
    color: var(--cor-5);
    font-weight: bold;
    font-size: 20px;
    writing-mode: vertical-rl;
}


/* Hide inputs */
.yakus_input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

/* Styles */
.yakus_label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.25, 0.25, 0.5, 1.9);

    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 1.5rem;
        height: 1.5rem;
        background: transparent;
        border-radius: 0.25rem;
        z-index: -1;
        transition: all 0.25s cubic-bezier(0.25, 0.25, 0.5, 1);

        input[type="radio"]+& {
            border-radius: 2rem;
        }
    }
}

/* Checked */
.yakus_input:checked+.yakus_label {
    color: var(--cor-5);
    &::before {
        width: 100%;
        height: 100%;
        background: var(--cor-4);
        border: 0;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    }
}